# Pymaceuticals
analysis

In [2]:
#Import dependecies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

mouseMetadata = pd.read_csv("data/Mouse_metadata.csv")
studyResults = pd.read_csv("data/Study_results.csv")
mouseMetadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [7]:
data = studyResults.merge(mouseMetadata, on="Mouse ID", how="right")
data.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,k403,0,45.000000,0,Ramicane,Male,21,16
1,k403,5,38.825898,0,Ramicane,Male,21,16
2,k403,10,35.014271,1,Ramicane,Male,21,16
3,k403,15,34.223992,1,Ramicane,Male,21,16
4,k403,20,32.997729,1,Ramicane,Male,21,16